{
  "access_token": "REPLACE_WITH_ACTUAL_ACCESS_TOKEN",
  "refresh_token": "REPLACE_WITH_ACTUAL_REFRESH_TOKEN",
  "scope": "https://www.googleapis.com/auth/drive.file",
  "token_type": "Bearer",
  "expiry_date": 1234567890000
}
